* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    cursor: url("blackcursor.png"), auto;
}
h1 {
    width: 100%;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    z-index: -1;
    background-color: rgba(255, 166, 0, 0.5);
    padding: 5px;
}

h2 {
    background-color: rgba(255,0,0, 50%);
    margin: 4% 0;
    padding: 1%;
    text-align: center;
    text-transform: uppercase;
}

p {
    border: 1px dashed black;
    padding: 5px;
    margin: 5px auto;
    text-align: center;
    font-size: 18px;
    width: 66%;
}
.SmolText {
    border: none;
    font-size: 15px;
    width: 66%;
    margin: 2% auto;
    text-align: center;

}
.TableOfContent ul {
    margin: 4% auto 0;
    width: 20%;
}
.TableOfContent li {
    list-style: square;
    margin: 5px auto;
    text-align: center;
}

table {
    margin: 2% auto;
}

th, td {
    padding: 5px;

}

th {
    text-transform: uppercase;
}
td {
    font-weight: 300;
    font-size: 16px;
}