* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    position: relative;
    z-index: 1;
    background-color: antiquewhite;
}

.ButtonContainer {
    display: flex;
    justify-content: center;
}

#button {
    border: 5px solid black;
    border-radius: 5px;
    padding: 25px 0;
    min-width: 300px;
    max-width: 500px;
    margin: 25px auto;
}

#button:active {
    background-color: aqua;
}

#paequors {
    width: 90%;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Paequor {
    border: 5px solid white;
    width: 300px;
    height: 250px;
    flex-grow: 0;
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: width 0.75s ease, background-color 1s ease;
    
}

.Hidden {
    position: absolute;
    z-index: -1;
    color: rgba(199, 199, 199, 0);
    transition: color 0.5s ease-in-out 0.15s;
    font-size: 18px;
}

.Paequor:active {
    width: 900px;

    .Strand {
        height: 40px;
        margin: 20px;
    }
    .Hidden {
        position: relative;
        z-index: 2;
        visibility: visible !important;
        color: rgb(199, 199, 199)

    }
}

.Paequor .Id {
    margin: 10px;
    text-transform: uppercase;
    color: rgba(199, 199, 199, 0.959);
}

.Paequor .Strand {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    margin: 20px;
    margin-top: 0;
    gap: 10px;
    justify-content: center;
    transition: height 1s ease;
}

.Strand p {
    height: 40px;
    flex-grow: 0;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
}
